.post-content {
  kbd {
    font-family: $code-font-family;
    font-size: 90%;
    border: 1px solid currentColor;
    border-radius: 5px;
    padding: .1rem .2rem;
  }

  // inline code
  code {
    font-family: $code-font-family;
    font-size: 90%;
    border-radius: 5px;
    padding: .1rem .2rem;
    color: #747070;
    background: #eee;
  }

  // code block
  .highlight>pre,
  .highlight>div {
    overflow: auto;
    border: 1px solid $global-background-color;
    border-radius: 5px;
    padding: .5em;
    @include height-control;
  }

  .highlight {
    position: relative;

    code {
      padding: 0;
      background: inherit;
    }

    code::before {
      // display language
      content: attr(data-lang);
      text-transform: capitalize;
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0;
      padding: 0 7px;
      line-height: 2;
      font-size: .8em;
      font-weight: 700;
      height: 2em;
      color: #716c6c;
    }

    code:hover::before {
      opacity: 0;
    }
  }

  // code block with table number
  .highlight table {
    padding: 0;
    margin: 0;
    border-radius: 5px;

    tbody {
      padding: .5em;
    }

    pre {
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 0;
    }

    td+td {
      width: 100%;
    }

    code {
      padding: 0;
    }

    code>span {
      display: flex;
      white-space: pre;
    }
  }

  &>pre {
    margin: .7em 0;

    @media only screen and (min-width: 64rem) {
      & {
        margin: 1.2em 0;
      }
    }
  }

  // Not needed with guessSyntax: true
  // pre code {
  //   background: #f8f8f8;
  // }
  // pre {
  //   margin: 0.6em 0 1em;
  //   // border: 0.06em solid #ddd;
  //   line-height: 1.5;
  //   white-space: pre-wrap;
  //   word-wrap: break-word;
  //   overflow-x: auto;
  //   overflow-y: hidden;
  //   border-radius: 0.5em;
  //   code {
  //     display: block;
  //     padding: 0.5em;
  //   }
  // }
}
