.header-container {
  // display: flex;
  // flex-direction: column;
  // align-items: start;

  .site-title {
    border-left: solid $global-font-color .125rem;
    padding-bottom: 4rem; // = hover padding top+bottom
    font-style: normal;
    transition: padding .5s ease 0s, background-color .5s ease 0s;
    background-color: transparent;
    font-family: $global-serif-font-family;
    // flex-grow: 1;
    // flex-basis: calc(100% - 30rem);

    &:hover {
      padding: 1rem 0 3rem 0;
      background-color: $global-font-color;

      * {
        @include font-on-background;
        background-color: transparent;
      }
    }

    a {
      border: none;
      box-shadow: none;
      display: inline-block;

      &:focus,
      &:active {
        // @include font-on-background;
        // background-color: $global-font-color;
      }
    }

    h2 {
      font-size: 2rem;
      font-weight: bolder;
      padding: 0;
      margin: 0;
      max-inline-size: 10em;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: normal;
      padding: 1px 0 0 0;
      margin: 0;
      max-inline-size: 10em;
    }
  }

  .site-nav {
    margin: 1rem 0 0 0;
    font-size: 1.1rem;
    font-weight: bolder;
    font-style: normal;
    padding-inline-start: 0;

    li {
      margin: .5rem 0;
      list-style: none;

      a.is-active {
        @include font-on-background;
        background-color: $global-font-color;
      }
    }
  }

  .site-function,
  .social {
    margin: 1rem 0 0 0;
    font-size: 1.4rem;
    line-height: 1;

    a {
      text-decoration: none;
      box-shadow: none;
      border: none;
      padding: 0 1px;

      &:hover,
      &:focus {
        color: $global-background-color;
        background-color: $global-font-color;
      }
    }
  }

  .site-footer {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    line-height: 2;
    display: block;

    p {
      margin: 0;
    }
  }
}
