.header-container {
  .site-title {
    border-left: solid $global-font-color .125rem;
    padding-bottom: 4rem;
    font-style: normal;
    transition: padding .5s ease 0s, background-color .5s ease 0s;
    background-color: transparent;
    font-family: $global-serif-font-family;

    &:hover,
    &:focus {
      padding: 1rem 0 3rem 0;
      color: $global-background-color;
      background-color: $global-font-color;

      * {
        color: $global-background-color;
        background-color: transparent;
      }
    }

    a {
      border: none;
      box-shadow: none;
      display: inline-block;

      h2 {
        font-size: 2rem;
        font-weight: bolder;
        padding: 0;
        margin: 0;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1px 0 0 0;
        margin: 0;
      }
    }
  }

  .site-nav {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bolder;
    font-style: normal;
    padding-inline-start: 0;

    li {
      margin: .5rem 0;
      list-style: none;
    }
  }

  .social {
    font-size: 1.4rem;
    line-height: 1;

    a {
      border: none;
      padding: 0;

      &:hover,
      &:focus {
        color: $global-font-color;
        background-color: $global-background-color;
        border-bottom: solid transparent 0.125rem;
      }
    }
  }

  .site-footer {
    margin: 1rem 0;
    font-size: 0.8rem;
    line-height: 2;
    display: block;

    p {
      margin: 0;
    }
  }
}
