.header-container {
  // display: flex;
  flex-direction: column;
  align-items: start;

  .site-title {
    border-left: solid $global-font-color .125rem;
    padding-bottom: 3rem;
    font-style: normal;
    transition: padding .5s ease 0s, background-color .5s ease 0s;
    background-color: transparent;
    font-family: $global-serif-font-family;
    flex-grow: 1;
    // flex-basis: calc(100% - 30rem);

    &:hover {
      padding: 1rem 0 3rem 0;
      background-color: $global-font-color;

      * {
        background-color: transparent;
      }
    }

    a {
      border: none;
      box-shadow: none;
      display: inline-block;
      max-inline-size: 15rem;

      &:focus,
      &:active {
        color: $global-background-color;
        background-color: $global-font-color;
      }

      h2 {
        font-size: 2rem;
        font-weight: bolder;
        padding: 0;
        margin: 0;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: normal;
        padding: 1px 0 0 0;
        margin: 0;
      }
    }
  }

  .site-nav {
    margin: 1rem 0 0 0;
    font-size: 1.1rem;
    font-weight: bolder;
    font-style: normal;
    padding-inline-start: 0;

    li {
      margin: .5rem 0;
      list-style: none;
    }
  }

  .site-function,
  .social {
    margin: 1rem 0 0 0;
    font-size: 1.4rem;
    line-height: 1;

    a {
      text-decoration: none;
      box-shadow: none;
      border: none;
      padding: 0 1px;

      &:hover,
      &:focus {
        color: $global-background-color;
        background-color: $global-font-color;
      }
    }
  }

  .site-footer {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    line-height: 2;
    display: block;

    p {
      margin: 0;
    }
  }
}
