#main {
  * {
    word-break: break-word;
  }

  details {
    border-radius: 5px;
    padding: 5px;
    margin: .7em 0;

    @if (lightness($global-background-color) > 50%) {
      // light themes
      background: rgba($global-font-color, .1);
    }

    @else {
      // dark themes
      background: rgba($global-font-color, .2);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
    }

    summary {
      cursor: zoom-in;
      padding-left: 17px;
      text-indent: -15px;
      // https://www.thesitewizard.com/css/hanging-indents.shtml
    }

    &[open] summary {
      cursor: zoom-out;
    }

    .markdown-inner {
      padding-top: 5px;
      @include height-control;

      :first-child {
        padding-top: 0;
      }
    }
  }

  figure {
    transition: all 0.6s;

    a {
      color: $global-font-color;
      background: none;
      border-bottom: none;

      &:hover {
        background: none;
        color: $global-font-color;
        border-bottom: none;
      }
    }

    img {
      position: relative;
      min-height: 50px;
      box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.03);
      display: block;
      margin: 0 auto;
      text-align: center;
      border-radius: 6px;
      width: 100% \9;
      max-width: 100%;
      max-height: 500px;
      height: auto;
    }

    &:hover {
      margin-top: 1rem;
      transform: scale(1.03);
      animation-timing-function: ease-in-out;
      animation-name: breathe;
      animation-duration: 2700ms;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  // image {
  //   position: relative;
  //   min-height: 50px;
  //   box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.03);
  //   display: block;
  //   margin: 0 auto;
  //   text-align: center;
  //   border-radius: 6px;
  //   width: 100% \9;
  //   max-width: 100%;
  //   max-height: 500px;
  //   height: auto;
  //   transition: all 0.6s;
  //
  //   &:hover {
  //     transform: scale(1.03);
  //     animation-timing-function: ease-in-out;
  //     animation-name: breathe;
  //     animation-duration: 2700ms;
  //     animation-iteration-count: infinite;
  //     animation-direction: alternate;
  //   }
  // }
  .list-tags {
    margin: 4px 0;
    font-size: 0.9rem;

    span {
      padding-left: 4px;
      line-height: 2;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .toc {
    ul li {
      margin: .5em 0;
    }
  }

  .toc-content {
    @include height-control;
  }

  .post-container {
    margin-bottom: 3rem;

    &>h1 {
      font-weight: 700;
      font-size: 1.8rem;
      margin-top: 0;
    }

    &>.list-tags {
      margin: 1rem 0;
    }
  }

  .terms-list {
    li {
      line-height: 2;
      display: inline-block;

      article {}
    }
  }

  .post-footer {
    h3 {
      margin-top: 1rem;
    }

    .post-pagination {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .see-also {
      padding-left: 1rem;

      li {
        margin-top: 0.5rem;
      }
    }
  }

  .main-comment {
    .comment-container {
      // Do not use if there is no comment
      margin-top: 3rem;
    }
  }
}
