// {{< spoiler >}}
.spoiler-toggle {

  &:focus,
  &:active {
    outline: none;
  }

  &:focus+.spoiler-inline,
  &:active+.spoiler-inline {
    @include outline;
  }

  +.spoiler-inline,
  +.spoiler-inline * {
    background: $global-font-color;
    user-select: none;
  }

  &:checked+.spoiler-inline {
    // showing
    cursor: zoom-out;

    @if (lightness($global-background-color) > 50%) {
      // light themes, on dark colour
      color: #fff;
    }

    @else {
      // dark themes, on light colour
      color: #000;
    }
  }

  &:not(:checked) {

    // hiding
    +.spoiler-inline,
    +.spoiler-inline * {
      color: transparent;
      cursor: zoom-in;
    }

    +.spoiler-inline a {
      pointer-events: none;
    }

    +.spoiler-inline img {
      // https://stackoverflow.com/a/50942954/10668706
      // need to set this in colors
      // targets var(--gray-600) for light theme, looks off in dark theme
      // filter: brightness(0) saturate(100%) invert(50%) sepia(23%) saturate(179%) hue-rotate(167deg) brightness(85%) contrast(88%);
    }
  }
}
