// {{< spoiler >}}
details.spoiler summary {
  background: linear-gradient(135deg, transparent 25%, rgba($global-font-color, .1) 25%, rgba($global-font-color, .1) 50%, transparent 50%, transparent 75%, rgba($global-font-color, .1) 75%, rgba($global-font-color, .1) 100%);
  background-size: 100px 100px;
}

.spoiler-inline,
.spoiler-inline a {
  // default (not checked)
  background: $global-font-color;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.spoiler-toggle {

  &:focus,
  &:active {
    outline: none;
  }

  &:focus+.spoiler-inline,
  &:active+.spoiler-inline {
    @include outline;
  }

  &:checked+.spoiler-inline,
  &:checked+.spoiler-inline a {
    // showing
    cursor: zoom-out;
    @include font-on-background;
  }

  &:not(:checked) {

    // hiding
    +.spoiler-inline,
    +.spoiler-inline * {
      color: transparent;
      cursor: zoom-in;
    }

    +.spoiler-inline a {
      pointer-events: none;
    }

    +.spoiler-inline img {
      // https://stackoverflow.com/a/50942954/10668706
      // need to set this in colors
      // targets var(--gray-600) for light theme, looks off in dark theme
      // filter: brightness(0) saturate(100%) invert(50%) sepia(23%) saturate(179%) hue-rotate(167deg) brightness(85%) contrast(88%);
    }
  }
}

// {{< sticky >}}
.sticky-ind {
  position: relative;
  vertical-align: super;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: .7em;
  margin-inline-start: -5px;
  display: inline;
}

label:has(+ input.sticky-toggle:focus),
label:has(+ input.sticky-toggle:active) {
  @include outline;
}

.sticky {
  position: relative;
  float: right;
  clear: both;
  padding: 0 5px;
  margin: 2px 5px;
  // max-width: 25%;
  width: 25%;

  @if (lightness($global-background-color) <=50%) {
    // dark themes
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  .sticky-toggle:focus+&,
  .sticky-toggle:active+& {
    @include outline;
  }

  @media screen and (max-width: 48rem) {
    & {
      display: none;
      font-size: 100%;
    }

    .sticky-toggle:checked+& {
      display: block;
      // max-width: 100%;
      width: 100%;
    }
  }
}

@each $name, $value in $sticky-colors {
  .sticky-ind--#{$name} {
    color: $value;
  }

  .sticky--#{$name} {
    // border-left: 5px solid $value;
    background: rgba($value, .4);
  }
}

// poem (code render hook)
.poem {
  font-family: $global-serif-font-family;
  letter-spacing: .3px;
  text-shadow: 0 0 .5px $global-font-color;
  white-space: pre-wrap;

  .sticky-toggle,
  .sticky {
    font-family: $global-font-family;
    white-space: normal;
    letter-spacing: .1px;
    text-shadow: none;
  }
}

// lyrics (code render hook)
.lyrics {
  font-family: $global-font-family;
  white-space: pre-wrap;
  -moz-columns: 2;
  columns: 2;

  @media screen and (max-width: 48rem) {
    & {
      -moz-columns: unset;
      columns: unset;
    }
  }

  .sticky-toggle,
  .sticky {
    white-space: normal;
  }
}
