.post-content {
  .kb {
    padding: .1em .6em;
    border: 0.06em solid #ccc;
    background-color: code-color;
    color: #8f8f8f;
    box-shadow: 0 0.06em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.12em #fff inset;
    border-radius: 0.18em;
    display: inline-block;
    margin: 0 .1em;
    text-shadow: 0 0.06em 0 #fff;
    line-height: 1.5;
    white-space: nowrap
  }

  h1,
  h2 {
    font-size: 180%;
    line-height: 1.2em
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 140%
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: .3em 0;
    margin: .5em 0;
    text-wrap: balance;

    a.anchor {
      opacity: 0;
      text-decoration: none;
      box-shadow: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    &:hover a.anchor,
    a.anchor:hover,
    a.anchor:focus {
      opacity: .5;
      color: $global-font-color;
      background: none;
    }
  }

  hr {
    padding: 0;
    border: none;
    width: 100%;
    display: block;
    text-align: center;
    height: 1.3rem;
    margin: 1.2rem 0;

    &::after {
      content: 'â§';
      font-size: 1.2rem;
      line-height: 1;
      color: $global-font-color;
      display: block;
    }
  }

  blockquote {
    border-left: 5px solid rgba($global-font-color, .3);
    margin: 0 0 20px;
    padding: 10px 20px;

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  blockquote footer {
    background: #fafafa;
    padding: 0;
    margin: 0;
    font-size: 80%;
    line-height: 1em
  }

  blockquote cite {
    font-style: italic;
    padding-left: .5em
  }

  &>ul,
  &>ol {
    padding-left: 2em;
    // font-size: 105%;
  }

  &>ul,
  &>ol,
  &>dl {
    margin-block-start: .7em;
    margin-block-end: .7em;
  }

  ul li {
    text-align: -webkit-match-parent;
    margin: .5em 0
  }

  ol li {
    margin: .5em 0
  }

  dl dt {
    font-weight: blod
  }

  dl:not(.post-series) {
    display: grid;
    gap: 0.5rem 1rem;
    align-items: baseline;
    width: 100%;

    dt {
      margin-top: 0;
      grid-column: 1;
    }

    dd {
      margin-bottom: 0;
      margin-left: 2rem;
    }

    @media screen and (min-width: 48rem) {
      & {
        grid-template-columns: fit-content(50%) auto;

        dd {
          grid-column: 2;
          margin-left: 0;
        }

        // in the rare case
        &:not(:has(dd)) {
          dt {
            grid-column: span 2;
          }
        }
      }
    }
  }

  p {
    // font-size: 105%;
    // line-height: 1.7;
    margin: .7em 0;
  }

  img,
  video,
  figure img {
    max-width: 100%;
    margin: auto;
    height: auto;
    vertical-align: middle;
    padding-top: .5em;
  }

  figcaption,
  .caption {
    text-align: center;
    display: block;
    font-size: .9em;
    font-weight: blod
  }

  .video-container {
    position: relative;
    padding-top: 56%;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0
  }

  table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;

    @if (lightness($global-background-color) > 50%) {
      // light themes
      background: #fff;
    }

    @else {
      // dark themes
      background: #000;
    }
  }

  table th {
    font-weight: bold;
    border-bottom: 1px solid #dbdbdb;
    padding: .5rem 1rem;
    position: sticky;
    top: 0;

    // need solid colours here for sticky head
    @if (lightness($global-background-color) > 50%) {
      // light themes
      background: mix($global-font-color, #fff, 15%);
    }

    @else {
      // dark themes
      background: mix($global-font-color, #000, 30%);
    }
  }

  // table tr:nth-child(2n),
  table tr:hover {
    background: rgba($global-background-color, 1);
    // code {
    //   border: 1px solid currentColor;
    // }
  }

  table td {
    border-bottom: 1px solid #dbdbdb;
    padding: .5rem 1rem;
  }

  .pullquote {
    text-align: left;
    width: 45%;
    margin: 0;
    border: none
  }

  .left {
    margin-left: .5em;
    margin-right: 1em;
    float: left
  }

  .right {
    margin-right: .5em;
    margin-left: 1em;
    float: right
  }

  @media only screen and (min-width: 48rem) {

    &>ul,
    &>ol {
      padding-left: 3em;
    }
  }

  @media only screen and (min-width: 64rem) {

    img,
    video,
    figure img {
      padding-top: .7em;
    }

    p {
      margin: 1.2em 0;
    }
  }
}
