@mixin outline {
  outline-style: auto;
  outline-color: currentColor;
  outline-color: -webkit-focus-ring-color;
}

.vertical-text {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.box {
  box-shadow: 0 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.75rem;
  border-bottom: 0;
}

.serif {
  font-family: $global-serif-font-family;
}

// https://gomakethings.com/hidden-content-for-better-a11y/#hiding-the-link
// Visually hide an element, but leave it available for screen readers
// @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
// @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
// @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
// @link https://www.drupal.org/node/897638
.screen-reader-focusable:active,
.screen-reader-focusable:focus {
  display: block;
  text-align: center;
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}

// https://gist.github.com/certainlyakey/e9c0d8f5c87ff47e3d5b
@function encodecolor($string) {
  @if type-of($string)=='color'and str-index(#{$string}, '#')==1 {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote('#{$hex}');
    @return '%23'+$string;
  }
  @return $string;
}
