@mixin outline {
  outline-style: auto;
  outline-color: currentColor;
  outline-color: -webkit-focus-ring-color;
}

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.vertical-text {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.box {
  box-shadow: 0 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.75rem;
  border-bottom: 0;
}

.serif {
  font-family: $global-serif-font-family;
}
