$code-font-family:
  Menlo,
  Meslo,
  Monaco,
  Consolas,
  "DejaVu Sans Mono",
  "Bitstream Vera Sans Mono",
  "Courier New",
  monospace !default;

$global-font-family:
  -apple-system,
  BlinkMacSystemFont,
  "Helvetica Neue",
  "PingFang SC",
  "Hiragino Sans GB",
  STHeiti,
  "Microsoft Yahei",
  "Source Han Sans SC",
  "Noto Sans CJK SC",
  "WenQuanYi Micro Hei",
  Arial,
  Verdana,
  sans-serif !default;

$global-serif-font-family:
  Charter, 'Bitstream Charter', 'Sitka Text', Cambria,
  'Source Han Serif SC',
  'Noto Serif SC',
  'PT Serif',
  serif !default;

// $title-font-family:
//   "HiraMinProN-W6",
//   "Source Han Serif CN",
//   "Source Han Serif SC",
//   "Source Han Serif TC",
//   serif;

$global-font-color: #2e405b !default;

$global-background-color: #f1f1f1 !default;
$global-background-size: 6px !default;

$global-shadow-color: rgba(0, 0, 0, 0.1) !default;
$global-line-color: #ffffff!default;
$global-solid-color: #77777747 !default;

// photo
$global-box-background-color: rgba(255, 255, 255, 0.8) !default;

// sticky notes
$sticky-colors: (
  yellow: #F4CD6D,
  green:  #ADE593,
  blue:   #B0D6FF,
  pink:   #FFBDCA,
  purple: #D8C8FF,
) !default;
