<!DOCTYPE HTML>
<html lang="{{ default .Site.Language.LanguageCode .Params.Language }}">
<head>
{{ partial "head.html" . }}
</head>

<body>
  <div class="react-container" >
    <header class="header-container">
      {{ partial "header.html" . }}
    </header>
    <div class="main-container" id="main-container">
      <main class="main-content">
      {{ block "main_content" . }}
      {{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
  </div>
  {{ partial "after_footer.html" .}}
</body>
</html>
