<!DOCTYPE HTML>
<html lang="{{ default .Site.Language.LanguageCode .Params.Language }}">
<head>
{{ partial "body_head.html" . }}
</head>
<body>
<div class="main-container" >
  <header class="header-container">
    {{ partial "header.html" . }}
    {{ partialCached "footer.html" . }}
  </header>
  <main id="main">
  {{ block "main_content" . }}{{ end }}
  </main>
  <div class="footer-container-mobile">{{ partialCached "footer.html" . }}</div>
</div>
{{ partialCached "body_foot.html" . }}
</body>
</html>
