<h2 class="title">
<a href="{{ .Permalink}}" title="{{ .Title }}">{{ .Title }}</a>
{{- if lt .Weight 0 -}}&#32;<i class="fa fa-thumb-tack"></i>{{- end -}}
{{- if .Draft -}}&#32;<i class="fa fa-pencil"></i>{{- end -}}
</h2>
<p class="list-tags">
  {{- if .Params.date -}}
    <span>
    {{ T "publish" }} <span><time datetime="{{ .Date }}">{{ .Date.Format (default "2006-01-02" .Site.Params.DateFormat ) }}</time></span>
    </span>
  {{- end }}
  {{- with .Params.categories }}
    <span>
    <i class="fa fa-folder" aria-hidden="true"></i>{{range .}}<span><a href="{{ "categories" | absURL }}/{{ . | urlize }}">{{ . }}</a></span>{{end}}
    </span>
  {{- end }}
  {{- with .Params.tags }}
    <span>
    <i class="fa fa-tag" aria-hidden="true"></i>{{range .}}<span><a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a></span>{{end}}
    </span>
  {{- end }}
  </p>
<section>{{ .Summary }}……</section>
