body {
  font-family: $global-font-family;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  color: $global-font-color;

  &::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    z-index: 1;
    position: fixed;
  }

  @include body-background;
}

@supports (-moz-appearance:none) {
  body {
    // Firefox cannot render infinite background gradient properly
    background-attachment: fixed;
  }
}

::selection {
  color: #fff;
  background-color: rgba($global-font-color, .75);
}

:focus {
  @include outline;
}

a {
  cursor: pointer;
  color: $global-font-color;
  padding: 0.125rem 0;
  text-decoration: none;
  // border-bottom: solid $global-font-color 0.125rem;
  // transition: color .3s ease 0s,background-color .3s ease 0s;
  // -moz-transition: color .3s ease 0s,background-color .3s ease 0s;
  // -o-transition: color .3s ease 0s,background-color .3s ease 0s;
  // -webkit-transition: color .3s ease 0s,background-color .3s ease 0s;
  box-shadow: inset 0 -0.25rem 0 -0.125rem $global-font-color;

  // transition: box-shadow .15s ease-in;
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    // background-color: $global-font-color;
    // border-bottom: solid transparent 0.125rem;
    box-shadow: inset 0 -40px 0 -1px $global-font-color;
  }
}

article {
  figure {
    a {
      padding: 0;
      transition: none;
      border: none;
      background: none;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      &:hover,
      &:focus {
        color: none;
        background-color: none;
        border: none;
      }
    }
  }
}

dl:not(.post-series) {
  display: grid;
  gap: 0.5rem 1rem;

  // align-items: end; // doing more harm than good
  dt {
    margin-top: 0;
    grid-column: 1;
  }

  dd {
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 48rem) {
  dl:not(.post-series) {
    grid-template-columns: fit-content(50%) auto;

    dd {
      grid-column: 2;
      margin-left: 0;
    }

    // for section shortcode with no summary
    // https://stackoverflow.com/a/73797984
    &:not(:has(dd)) {
      dt {
        grid-column: span 2;
      }
    }
  }
}
