{{ $jsTemplate := resources.Get "js/main.js" }}
{{ $secureJS := $jsTemplate | resources.ExecuteAsTemplate "js/main.js" . | fingerprint }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}" crossorigin="anonymous"></script>
  <script src="{{ .Site.BaseURL }}js/nav-scroll.js"></script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}lib/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="{{ .Site.BaseURL }}lib/fancybox/jquery.fancybox.js"></script>

<script>
    $(function() {
        $(document).pjax('[data-pjax] a, a[data-pjax]', '#main-container', {
            fragment: '#main-container',
            timeout: 5000,
            cache: false
        }).on('pjax:send',function () {
        }).on('pjax:click', function() {
        }).on('pjax:complete', function() {
          pjaxInitPage();
        }).on('pjax:end', function() {
          pjaxInitPage();
        });
        pjaxInitPage();
    })
</script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function initFacybox() {
    $('article figure img').each(function(){
        if ($(this).parent().attr('data-fancybox="images"')) return;
        var alt = this.alt;
        // if (alt) $(this).after('<span class="caption">' + alt + '</span>');
        $(this).wrap('<a href="' + this.src + '" title="' + alt + '" data-fancybox="images" ></a>');

    });
    if($.fancybox){
      $('[data-fancybox]').fancybox({
        protect: true,
        buttons:[
          "zoom",
          //"share",
          "slideShow",
          "fullScreen",
          "thumbs",
          "close"
        ],
        arrows: true
      });
    }
  }

</script>
