<div class="site-title vertical-text">
<a href="{{ .Site.BaseURL }}">
<h3>{{ $.Site.Params.description }}</h3>
<h2>{{ .Site.Title }}</h2>
</a>
</div>

<ul class="site-nav" role="navigation" aria-label="Site">
{{- $currentPage := $.RelPermalink | absLangURL -}}
{{- range site.Menus.main }}
  {{- $actived := false -}}
  {{- if hasPrefix  $currentPage (.URL | absLangURL) -}}
    {{- $actived = true -}}
  {{- end -}}
  {{- if $actived }}
    <li><a class="is-active" aria-current="page" href="{{ .URL }}">{{ .Name }}</a></li>
  {{- else }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
  {{- end }}
{{- end }}
</ul>

<div class="site-function">
{{- if ne .Site.Params.search false }}
  <a href="/search/" title="search"><i class="fa fa-search" aria-hidden="true"></i></a>
{{- end }}
{{- with .Site.GetPage "/" }}{{ with .OutputFormats.Get "RSS" }}
  <a href="{{ .Permalink }}" target="_blank" aria-label="RSS"><i class="fa fa-rss" aria-hidden="true"></i></a>
{{ end }}{{ end }}
</div>

{{ if .Site.Social }}
<div class="social" >
{{ with .Site.Social.twitter }}
  <a href="https://twitter.com/{{ . }}" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Social.github }}
  <a href="https://github.com/{{ . }}" target="_blank" title="github"><i class="fa fa-github" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Social.gitlab }}
  <a href="https://gitlab.com/{{ . }}" target="_blank" title="gitlab"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Social.facebook }}
  <a href="https://www.facebook.com/{{ . }}" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Social.linkin }}
  <a href="https://www.linkedin.com/{{ . }}" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
{{ end }}
</div>
{{ end }}
