<div class="site-title vertical-text">
<a href="{{ .Site.BaseURL }}">
<h3>{{ $.Site.Params.description }}</h3>
<h2>{{ .Site.Title }}</h2>
</a>
</div>

<ul class="site-nav" aria-label="Site navigation">
{{ range .Site.Menus.main  }}
<li><a href="{{ .URL }}">{{ .Name }}</a></li>
{{ end }}
</ul>

{{ if .Site.Social }}
<div class="social" >
{{ with .Site.Social.twitter }}
  <a href="https://twitter.com/{{ . }}" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Social.github }}
  <a href="https://github.com/{{ . }}" target="_blank" title="github"><i class="fa fa-github" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Social.gitlab }}
  <a href="https://gitlab.com/{{ . }}" target="_blank" title="gitlab"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Social.facebook }}
  <a href="https://www.facebook.com/{{ . }}" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Social.linkin }}
  <a href="https://www.linkedin.com/{{ . }}" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
{{ end }}
</div>
{{ end }}
