<footer class="post-footer">
{{- /* Pagination */ -}}
{{ if ne .Params._build.list "never"}}
  <nav class="post-pagination">
  {{ if .PrevInSection }}
    <span>«{{ T "prev" | humanize }}&#32;<a class="previous" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a></span>
  {{ else }}
    <span>«{{ T "prev" | humanize }}&#32;No older posts</span>
  {{ end }}
  {{ if .NextInSection }}
    <span>»{{ T "next" | humanize }}&#32;<a class="next" href="{{ .NextInSection.Permalink}}">{{ .NextInSection.Title }}</a></span>
  {{ else }}
    <span>»{{ T "next" | humanize }}&#32;No newer posts</span>
  {{ end }}
  </nav>
{{ end }}

{{- /* Related */ -}}
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h3>{{T "seeAlso"}}</h3>
<ul class="see-also">
  {{ range . }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ end }}
</footer>
