<footer class="post-footer">
{{- /* Pagination */ -}}
{{ if ne .Params._build.list "never"}}
  <nav class="pagination post-pagination">
  {{ with .PrevInSection }}
    <span>&laquo;&#32;{{ T "prev" | humanize }}&#32;<a class="previous" href="{{ .Permalink }}">{{ .Title }}</a></span>
  {{ else }}
    <span title="No older post"></span>
  {{ end }}
  {{ with .NextInSection }}
    <span>{{ T "next" | humanize }}&#32;<a class="next" href="{{ .Permalink}}">{{ .Title }}</a>&#32;&raquo;</span>
  {{ else }}
    <span title="No newer post"></span>
  {{ end }}
  </nav>
{{ end }}

{{- /* Related */ -}}
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h3>{{T "seeAlso"}}</h3>
<ul class="see-also">
  {{ range . }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ end }}
</footer>
